<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('free')"></a><!--네비바 프래그먼트 사용-->
<div>
  <table class ="table table-striped" style="text-align: center;"border="1px" >
    <thead>
    <tr>
      <th>글번호</th>
      <th>제목</th>
      <th>작성자</th>
    </tr>
    </thead>
    <tr th:each="FreeBoard: ${freelist}"style="background-color: #eeeeee; text-align: center;">
      <td th:text="${FreeBoard.id}"style="background-color: #eeeeee; text-align: center;"></td>
      <td><a th:text="${FreeBoard.title}" th:href="@{/menu/board/free-write(id=${FreeBoard.id})}"style="background-color: #eeeeee; text-align: center;"></a></td>
      <td>홍길동</td>
    </tr>
  </table>
  <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
    <a th:if="${page != nowPage}" th:href="@{/menu/board/free-list(page =  ${page -1})}" th:text="${page}"></a>
    <strong th:if ="${page == nowPage}" th:text="${page}" style="color : red"></strong>
  </th:block>
  <a type="button" th:href="@{/menu/board/free-write}" class ="btn btn-primary"style="float: right;">글쓰기</a>
</div>
<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->
</body>
</html>