<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('free')"></a><!--네비바 프래그먼트 사용-->


    <div>
            <form th:action="@{/menu/board/freewrite}" th:object="${freeBoard}" method="post">
                <input type="hidden" th:field="*{id}">
                 제목<input id="title" th:field="*{title}" name="title" th:errorclass="error-input">
                    <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">제목에러메시지</div>
                 내용<textarea id="content" th:field="*{content}">
                    </textarea>
                    <button type="submit">확인</button>
                    <a type="button" th:href="@{/menu/board/freelist}">취소</a>

            </form>
    </div>

<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->
</body>
</html>