<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('position')"></a><!--네비바 프래그먼트 사용-->
<script src="http://bmi.calcevery.me/js/jquery-1.8.3.min.js"></script>


<div style="padding:20px 0 10px 40px;">
    <div><h1 style="font-size:44px;font-weight:bold;"><center>칼로리 계산기</center></a></h1></div>
</div>
<div id="today_calc" style="width:100%;margin:0 0 10px 0;background:#333333;color:#FFF;">
    <div style="line-height:30px;padding:30px 0 0 40px;">
        <div style="float:left;font-size:20px;">음식</div>
        <div style="float:left;padding:0 0 0 20px;">
            <div id="today_food" style="display:inline;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="line-height:30px;padding:0 0 10px 40px;line-height:40px;">
        <div style="float:left;font-size:20px;">칼로리</div>
        <div style="float:left;padding:0 0 0 20px;">
            <div id="today_calories" style="float:left;">0</div>
            <div style="float:left;font-size:18px;">Kcal</div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>

</div>
<div style>
    <ul id="food_tab" style="padding:0 0 0 40px;margin:0;border-bottom:3px solid #333399;">
        <li class="food_tab_on" food="1" style="float:left;">한식</li>
        <li food="2" style="float:left;">양식/중식/일식</li>
        <li food="3" style="float:left;">패스트푸드</li>
        <li food="4" style="float:left;">빵</li>
        <li food="5" style="float:left;">과일/견과류</li>
        <li food="6" style="float:left;">과자/아이스크림</li>
        <li food="7" style="float:left;">음료</li>
        <li food="8" style="float:left;">전체보기</li>
        <div style="clear:both;"></div>
    </ul>
</div>
<div id="food1" class="container"><!-- 한식 -->
    <div class="row" style="height:130px">
        <div style="padding:20px 0 10px 40px;">
            <div><h1 style="font-size:44px;font-weight:bold;"><center>한식</center></a></h1></div>
        </div>
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_2.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('쌀밥1공기', '300');">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_3.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('된장찌개', '128');" alt="된장찌개" title="된장찌개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_4.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('참치김치찌개1인분', '209');" alt="참치김치찌개1인분" title="참치김치찌개1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_5.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('순두부찌개', '340');" alt="순두부찌개" title="순두부찌개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_6.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('부대찌개 1인분', '340');" alt="부대찌개 1인분" title="부대찌개 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_7.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('해물탕1인분', '82');" alt="해물탕1인분" title="해물탕1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_8.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('콩나물국1인분', '15');" alt="콩나물국1인분" title="콩나물국1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_9.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('북어국 1인분', '57');" alt="북어국 1인분" title="북어국 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_10.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('갈비찜 1인분', '220');" alt="갈비찜 1인분" title="갈비찜 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_11.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('불고기 100g', '163');" alt="불고기 100g" title="불고기 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_12.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('감자조림', '71');" alt="감자조림" title="감자조림">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_13.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('장조림', '100');" alt="장조림" title="장조림">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_14.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('낚지볶음 100g', '106');" alt="낚지볶음 100g" title="낚지볶음 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_15.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('멸치볶음 100g', '480');" alt="멸치볶음 100g" title="멸치볶음 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_16.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('잡채 100g', '206');" alt="잡채 100g" title="잡채 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_17.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('김치전 1인분', '196');" alt="김치전 1인분" title="김치전 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_18.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('파전 1인분', '195');" alt="파전 1인분" title="파전 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_19.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('시금치나물 100g', '79');" alt="시금치나물 100g" title="시금치나물 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_20.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('도라지나물 100g', '110');" alt="도라지나물 100g" title="도라지나물 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_21.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('배추김치 100g', '33');" alt="배추김치 100g" title="배추김치 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_22.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('열무김치 100g', '21');" alt="열무김치 100g" title="열무김치 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_23.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('깍두기 100g', '31');" alt="깍두기 100g" title="깍두기 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_24.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('갈치구이 1도막', '174');" alt="갈치구이 1도막" title="갈치구이 1도막">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/hansik/images/1_25.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('갈비탕 1인분', '630');" alt="갈비탕 1인분" title="갈비탕 1인분">
    </div>
    <div class="clearfix"></div>
</div>
</div>

<div id="food2" class="container" style="display:none;"><!-- 양식 -->
    <div class="row"style="height:130px">
        <div style="padding:20px 0 10px 40px;">
            <div><h1 style="font-size:44px;font-weight:bold;"><center>양식/중식/일식</center></a></h1></div>
        </div>

    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_2.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('안심스테이크 1인분', '663');" alt="안심스테이크 1인분" title="안심스테이크 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_3.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('야채스프 1인분', '170');" alt="야채스프 1인분" title="야채스프 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_4.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('크림스프 1인분', '164');" alt="크림스프 1인분" title="크림스프 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_5.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('오므라이스 1인분', '662');" alt="오므라이스 1인분" title="오므라이스 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_6.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('카레라이스 1인분', '502');" alt="카레라이스 1인분" title="카레라이스 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_7.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('포크커틀릿 1인분', '553');" alt="포크커틀릿 1인분" title="포크커틀릿 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_8.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('스파게티 1인분', '473');" alt="스파게티 1인분" title="스파게티 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_9.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('라자냐 1인분', '548');" alt="라자냐 1인분" title="라자냐 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_10.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('피자 1쪽 100g', '250');" alt="피자 1쪽 100g" title="피자 1쪽 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_11.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('참치샌드위치 1개', '564');" alt="참치샌드위치 1개" title="참치샌드위치 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_12.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('햄치즈샌드위치 1개', '396');" alt="햄치즈샌드위치 1개" title="햄치즈샌드위치 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_13.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('짜장면 1인분', '670');" alt="짜장면 1인분" title="짜장면 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_14.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('볶음밥 1인분', '617');" alt="볶음밥 1인분" title="볶음밥 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_15.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('우동 1인분', '610');" alt="우동 1인분" title="우동 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_16.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('짬뽕 1인분', '437');" alt="짬뽕 1인분" title="짬뽕 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_17.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('군만두 1인분', '630');" alt="군만두 1인분" title="군만두 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_18.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('깐풍기 1인분', '567');" alt="깐풍기 1인분" title="깐풍기 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_19.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('탕수육 1인분', '616');" alt="탕수육 1인분" title="탕수육 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_20.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('해파리냉채 1인분', '189');" alt="해파리냉채 1인분" title="해파리냉채 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_21.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('일본식우동 1인분', '332');" alt="일본식우동 1인분" title="일본식우동 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_22.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('볼냄비우동 1인분', '577');" alt="볼냄비우동 1인분" title="볼냄비우동 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_23.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('김초밥 1인분(10개)', '500');" alt="김초밥 1인분(10개)" title="김초밥 1인분(10개)">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_24.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('유부초밥 1인분(10개)', '800');" alt="유부초밥 1인분(10개)" title="유부초밥 1인분(10개)">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_25.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('참치초밥(붉은살) 1개', '76');" alt="참치초밥(붉은살) 1개" title="참치초밥(붉은살) 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_26.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('회덮밥 1인분', '512');" alt="회덮밥 1인분" title="회덮밥 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_27.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('튀김덮밥 1인분', '739');" alt="튀김덮밥 1인분" title="튀김덮밥 1인분">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_28.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('새우야채튀김', '520');" alt="새우야채튀김" title="새우야채튀김">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_29.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('메밀국수', '450');" alt="메밀국수" title="메밀국수">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/jungsik/images/2_30.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('알탕 1그릇', '439');" alt="알탕 1그릇" title="알탕 1그릇">
    </div>
    <div class="clearfix"></div>
</div>
</div>

<div id="food3" class="container" style="display:none;"><!-- 패스트푸드 -->
    <div class="row"style="height:130px">
        <div style="padding:20px 0 10px 40px;">
            <div><h1 style="font-size:44px;font-weight:bold;"><center>패스트푸드</center></a></h1></div>
        </div>
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_2.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('햄버거 1개', '260');" alt="햄버거 1개" title="햄버거 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_3.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('치즈버거 1개', '318');" alt="치즈버거 1개" title="치즈버거 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_4.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('피시버거 1개', '360');" alt="피시버거 1개" title="피시버거 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_5.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('치킨버거 1개', '377');" alt="치킨버거 1개" title="치킨버거 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_6.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('빅맥 1개', '530');" alt="빅맥 1개" title="빅맥 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_7.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('맥치킨버거 1개', '510');" alt="맥치킨버거 1개" title="맥치킨버거 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_8.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('프라이드치킨 1조각', '210');" alt="프라이드치킨 1조각" title="프라이드치킨 1조각">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_9.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('너겟 5조각', '238');" alt="너겟 5조각" title="너겟 5조각">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_10.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('핫윙 3조각', '228');" alt="핫윙 3조각" title="핫윙 3조각">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_11.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('프렌치프라이 1봉지 147g', '450');" alt="프렌치프라이 1봉지 147g" title="프렌치프라이 1봉지 147g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_12.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('비스켓 1개', '269');" alt="비스켓 1개" title="비스켓 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_13.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('애플파이 1개', '253');" alt="애플파이 1개" title="애플파이 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_14.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('코울슬로 1개(79g)', '139');" alt="코울슬로 1개(79g)" title="코울슬로 1개(79g)">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fastfood/images/3_15.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('콘샐러드 1개(143g)', '176');" alt="콘샐러드 1개(143g)" title="콘샐러드 1개(143g)">
    </div>
    <div class="clearfix"></div>
</div>
</div>

<div id="food4" class="container" style="display:none;"><!-- 빵 -->
    <div class="row"style="height:130px">
        <div style="padding:20px 0 10px 40px;">
            <div><h1 style="font-size:44px;font-weight:bold;"><center>빵</center></a></h1></div>
        </div>
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_2.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('생크림케이크 1조각', '244');" alt="생크림케이크 1조각" title="생크림케이크 1조각">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_3.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('초콜릿케이크 1조각', '437');" alt="초콜릿케이크 1조각" title="초콜릿케이크 1조각">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_4.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('초콜릿도넛 1개', '281');" alt="초콜릿도넛 1개" title="초콜릿도넛 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_5.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('슈거도넛 1개', '197');" alt="슈거도넛 1개" title="슈거도넛 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_6.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('바게트 1조각', '73');" alt="바게트 1조각" title="바게트 1조각">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_7.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('하드롤 1개', '150');" alt="하드롤 1개" title="하드롤 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_8.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('크루아상 1개', '172');" alt="크루아상 1개" title="크루아상 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_9.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('베이글 1개', '120');" alt="베이글 1개" title="베이글 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_10.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('페이스트리 1개', '271');" alt="페이스트리 1개" title="페이스트리 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_11.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('카스테라 1조각', '317');" alt="카스테라 1조각" title="카스테라 1조각">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_12.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('모카빵 100g', '305');" alt="모카빵 100g" title="모카빵 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_13.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('식빵 1쪽(35g)', '102');" alt="식빵 1쪽(35g)" title="식빵 1쪽(35g)">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_14.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('잼바른 식빵 1쪽', '165');" alt="잼바른 식빵 1쪽" title="잼바른 식빵 1쪽">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/bread/images/3_15.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('팥빵 1개', '197');" alt="팥빵 1개" title="팥빵 1개">
    </div>
    <div class="clearfix"></div>
</div>
</div>

<div id="food5" class="container" style="display:none;"> <!-- 과일/견과류 -->
    <div class="row"style="height:130px">
        <div style="padding:20px 0 10px 40px;">
            <div><h1 style="font-size:44px;font-weight:bold;"><center>과일</center></a></h1></div>
        </div>
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_2.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('메론 100g', '35');" alt="메론 100g" title="메론 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_3.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('귤 100g', '47');" alt="귤 100g" title="귤 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_4.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('대추 100g', '82');" alt="대추 100g" title="대추 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_5.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('딸기 100g', '22');" alt="딸기 100g" title="딸기 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_6.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('바나나 100g', '81');" alt="바나나 100g" title="바나나 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_7.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('배 100g', '48');" alt="배 100g" title="배 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_8.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('복숭아 100g', '41');" alt="복숭아 100g" title="복숭아 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_9.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('사과 100g', '50');" alt="사과 100g" title="사과 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_10.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('석류 100g', '67');" alt="석류 100g" title="석류 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_11.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('수박 100g', '21');" alt="수박 100g" title="수박 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_12.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('자두 100g', '55');" alt="자두 100g" title="자두 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_13.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('참외 100g', '32');" alt="참외 100g" title="참외 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_14.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('키위 100g', '47');" alt="키위 100g" title="키위 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_15.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('파인애플', '40');" alt="파인애플" title="파인애플">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_16.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('포도 100g', '48');" alt="포도 100g" title="포도 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_17.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('레몬 100g', '45');" alt="레몬 100g" title="레몬 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_18.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('토마토 100g', '22');" alt="토마토 100g" title="토마토 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_19.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('거봉 100g', '151');" alt="거봉 100g" title="거봉 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_20.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('오렌지 100g', '50');" alt="오렌지 100g" title="오렌지 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_21.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('단감 100g', '54');" alt="단감 100g" title="단감 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_22.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('건포도 100g', '315');" alt="건포도 100g" title="건포도 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_23.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('아몬드 100g', '596');" alt="아몬드 100g" title="아몬드 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_24.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('밤 100g', '159');" alt="밤 100g" title="밤 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/fruit/images/4_25.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('땅콩 100g', '575');" alt="땅콩 100g" title="땅콩 100g">
    </div>
    <div class="clearfix"></div>
</div>
</div>
<div id="food6" class="container" style="display:none;"> <!-- 과자 -->
    <div class="row"style="height:130px">
        <div style="padding:20px 0 10px 40px;">
            <div><h1 style="font-size:44px;font-weight:bold;"><center>과자</center></a></h1></div>
        </div>
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_2.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('강냉이 100g', '270');" alt="강냉이 100g" title="강냉이 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_3.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('건빵 100g', '415');" alt="건빵 100g" title="건빵 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_4.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('팝콘 100g', '420');" alt="팝콘 100g" title="팝콘 100g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_5.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('아이비 1통', '390');" alt="아이비 1통" title="아이비 1통">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_6.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('칙촉1개', '75');" alt="칙촉1개" title="칙촉1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_7.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('초코파이 1개', '160');" alt="초코파이 1개" title="초코파이 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_8.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('썬칩 1봉지', '402');" alt="썬칩 1봉지" title="썬칩 1봉지">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_9.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('새우깡 1봉지', '440');" alt="새우깡 1봉지" title="새우깡 1봉지">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_10.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('감자깡 1봉지', '270');" alt="감자깡 1봉지" title="감자깡 1봉지">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_11.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('홈런볼 1봉지', '250');" alt="홈런볼 1봉지" title="홈런볼 1봉지">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_12.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('다이제스티브초콜릿 1통', '580');" alt="다이제스티브초콜릿 1통" title="다이제스티브초콜릿 1통">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_13.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('에이스 1통', '810');" alt="에이스 1통" title="에이스 1통">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_14.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('버터링 1통', '430');" alt="버터링 1통" title="버터링 1통">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_15.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('포카칩 1봉지', '464');" alt="포카칩 1봉지" title="포카칩 1봉지">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_16.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('가나 초콜릿 25g', '135');" alt="가나 초콜릿 25g" title="가나 초콜릿 25g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_17.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('M&Ms(땅콩)', '250');" alt="M&Ms(땅콩)" title="M&Ms(땅콩)">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_18.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('크런치 45g', '240');" alt="크런치 45g" title="크런치 45g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_19.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('스니커즈바 60g', '285');" alt="스니커즈바 60g" title="스니커즈바 60g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_20.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('자유시간 40g', '189');" alt="자유시간 40g" title="자유시간 40g">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_21.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('누크바 1개', '72');" alt="누크바 1개" title="누크바 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_22.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('스크류바 1개', '74');" alt="스크류바 1개" title="스크류바 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_23.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('바밤바 1개', '95');" alt="바밤바 1개" title="바밤바 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_24.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('메로나 1개', '127');" alt="메로나 1개" title="메로나 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_25.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('월드콘 1개', '263');" alt="월드콘 1개" title="월드콘 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_26.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('거북이 1개', '194');" alt="거북이 1개" title="거북이 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_27.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('하겐다즈 1개', '220');" alt="하겐다즈 1개" title="하겐다즈 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_28.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('브라보콘 1개', '220');" alt="브라보콘 1개" title="브라보콘 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_29.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('구구콘 1개', '220');" alt="구구콘 1개" title="구구콘 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/cookies/images/5_30.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('더위사냥', '115');" alt="더위사냥" title="더위사냥">
    </div>
    <div style="clear:both;"></div>
</div>
</div>
<div id="food7" class="container" style="display:none;"> <!-- 음료 -->
    <div class="row"style="height:130px">
        <div style="padding:20px 0 10px 40px;">
            <div><h1 style="font-size:44px;font-weight:bold;"><center>음료</center></a></h1></div>
        </div>
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_2.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('코카콜라 1캔(250ml)', '100');" alt="코카콜라 1캔(250ml)" title="코카콜라 1캔(250ml)">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_3.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('코카콜라 라이트 1캔(250ml)', '30');" alt="코카콜라 라이트 1캔(250ml)" title="코카콜라 라이트 1캔(250ml)">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_4.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('사이다 1캔', '100');" alt="사이다 1캔" title="사이다 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_5.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('게토레이 1캔', '80');" alt="게토레이 1캔" title="게토레이 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_6.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('실론티 1캔', '105');" alt="실론티 1캔" title="실론티 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_7.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('미에로화이바 1병', '45');" alt="미에로화이바 1병" title="미에로화이바 1병">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_8.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('니어워터 1캔', '60');" alt="니어워터 1캔" title="니어워터 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_9.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('카페라떼 카푸치노 1팩', '125');" alt="카페라떼 카푸치노 1팩" title="카페라떼 카푸치노 1팩">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_10.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('네스카페 1캔', '81');" alt="네스카페 1캔" title="네스카페 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_11.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('무가당오렌지주스 1병', '65');" alt="무가당오렌지주스 1병" title="무가당오렌지주스 1병">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_12.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('토마토주스 1병', '34');" alt="토마토주스 1병" title="토마토주스 1병">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_13.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('당근주스 1병', '54');" alt="당근주스 1병" title="당근주스 1병">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_14.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('갈아만든 사과 1캔', '240');" alt="갈아만든 사과 1캔" title="갈아만든 사과 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_15.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('갈아만든 배 1캔', '144');" alt="갈아만든 배 1캔" title="갈아만든 배 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_16.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('식혜 1캔', '110');" alt="식혜 1캔" title="식혜 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_17.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('수정과 1캔', '120');" alt="수정과 1캔" title="수정과 1캔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_18.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('커피우유 1팩', '125');" alt="커피우유 1팩" title="커피우유 1팩">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_19.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('이오요구르트 1개', '75');" alt="이오요구르트 1개" title="이오요구르트 1개">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_20.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('파스퇴르 요구르트 1팩', '87');" alt="파스퇴르 요구르트 1팩" title="파스퇴르 요구르트 1팩">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_21.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('불가리스 1팩', '150');" alt="불가리스 1팩" title="불가리스 1팩">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_22.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('녹차 1잔', '0');" alt="녹차 1잔" title="녹차 1잔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_23.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('커프1+프림1+설탕138', '');" alt="커프1+프림1+설탕138" title="커프1+프림1+설탕138">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_24.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('소주1잔', '90');" alt="소주1잔" title="소주1잔">
    </div>
    <div class="col-xs-2 col-md-1" style="padding:0;">
        <img class="foodimg" src="http://bmi.calcevery.me/img/beverage/images/6_25.jpg" style="width:90%;height:80px;border-radius: 70%;" onclick="javascript:eatfood('생맥주 500ml', '185');" alt="생맥주 500ml" title="생맥주 500ml">
    </div>
    <div class="clearfix"></div>
</div>
</div>

<style type="text/css">
	#food_tab li{display:block;padding:10px 2%;margin:0 0 0 1px;list-style:none;text-align:center;font-size:18px;border:1px solid #fff;border-bottom:none;cursor:pointer;-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
	.food_tab_on {background:#7B7B7B;color:#FFF;font;}

	.foods {padding:0 0 0 40px;margin:0;list-style:none;}
	.foods li{padding:0;margin:0;list-style:none;}
	.foods li img{cursor:pointer;}
	.foodimg {width:100%;height:90px;cursor:pointer;}
	.eatfoods {display:inline-block;margin:0 2px;padding:3px 3px;  solid #CCC;background:#333333;cursor:pointer;}
	#today_calories {font-size:40px;color:#FFF;font-weight:bold;letter-spacing:1px;}
</style>
<script src="http://bmi.calcevery.me/plugin/animateNumber/jquery.animateNumber.min.js"></script>
<script type="text/javascript">
	$("#food_tab li").click(
		function () {
			$("#food_tab li").removeClass("food_tab_on");
			var food = $(this).attr("food");
			$(this).addClass("food_tab_on");
			for(var n = 1; n <= 7; n++){
				if(n == food){
					$("#food"+n).show();
				}else{
					$("#food"+n).hide();
				}
			}
			console.log(">>>"+food);
			if(food == 8){
				for(var n = 1; n <= 7; n++){
					$("#food"+n).show();
				}
			}
		}
	);

	function eatfood(name, calo) {
		$("#today_food").append("<div class='eatfoods' calo='"+calo+"'>"+name+" x</div>");

		var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',')
		$('#today_calories').animateNumber({
			number: calories(),
			numberStep: comma_separator_number_step
		});
	}

	$(document).on('click', '.eatfoods', function() {
		$(this).remove();
		var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',')
		$('#today_calories').animateNumber(
		{
			number: calories(),
			numberStep: comma_separator_number_step
		}
		);
		console.log(basal);
	});

	var basal_total = 0;


	function calories() {
		var total_calories = 0;
		$(".eatfoods").each(function(index){
			total_calories += Number($(this).attr("calo"));
		});

		return total_calories;
	}

	function basal_btn() {

		var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',')
		$('#basal').animateNumber({
			number: basal_calc(),
			numberStep: comma_separator_number_step
		});
	}
</script>
<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->
</body>
</html>