<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('myPage')"></a><!--네비바 프래그먼트 사용-->
<br>

<style>
body {

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}
   #main-holder {
  width: 85%;
  height: 95%;
  display: grid;

  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
   $(function() {
       //input을 datepicker로 선언
       $("#datepicker").datepicker({
           dateFormat: 'yy-mm-dd' //달력 날짜 형태
           ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
           ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
           ,changeYear: true //option값 년 선택 가능
           ,changeMonth: true //option값  월 선택 가능
           ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시
           ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
           ,buttonImageOnly: true //버튼 이미지만 깔끔하게 보이게함
           ,buttonText: "선택" //버튼 호버 텍스트
           ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
           ,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
           ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
           ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
           ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
           ,minDate: "-5Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
           ,maxDate: "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
       });

       //초기값을 오늘 날짜로 설정해줘야 합니다.
       $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
   });
</script>
<main id="main-holder">
<form class="calender" th:action="@{/menu/myPage}" th:object="${myPage}" method="post">
    <input type="hidden" th:field="*{id}">
    <p><input type="text" th:field="*{day}" id="datepicker"placeholder="노트를 클릭해주세요───▶"></p>
    <p><input type="text" th:field="*{calorie}"placeholder="칼로리는0에서9999까지"></p>
    <p><input type="submit" value="Submit" ></p>
</form>

<br>

<hr>

<th:black>
    <table class ="table table-striped" style="text-align: center;"border="1px" >
        <h1>좋아요한 자유게시판</h1>
        <thead>
        <tr class="table-dark">
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tr th:each="UserHeartFreeList: ${userHeartFreeList}"style=" text-align: center;" class="table-light">
            <td th:text="${UserHeartFreeList.FreeBoard.id}"style=" text-align: center;"></td>
            <td><a th:text="${UserHeartFreeList.FreeBoard.title}" th:href="@{/menu/board/free-view(id=${UserHeartFreeList.FreeBoard.id})}"style="color:#606060 text-align: center;"></a></td>
            <td><a th:text="${UserHeartFreeList.FreeBoard.user.username}" style="; text-align: center;"></a></td>
            <td><a th:text="${UserHeartFreeList.FreeBoard.viewCount}"></a></td>
            <td><a th:text="${UserHeartFreeList.FreeBoard.heartCount}"></a></td>
        </tr>
    </table>
</th:black>
<hr>
<th:black>
    <table class ="table table-striped" style="text-align: center;"border="1px" >
        <h1>내가쓴 자유게시판</h1>
        <thead>
        <tr class="table-dark">
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tr th:each="userFreeList: ${userFreeList}"style=" text-align: center;" class="table-light">
            <td th:text="${userFreeList.id}"style=" text-align: center;"></td>
            <td><a th:text="${userFreeList.title}" th:href="@{/menu/board/free-view(id=${userFreeList.id})}"style="color:#606060 text-align: center;"></a></td>
            <td><a th:text="${userFreeList.user.username}" style="; text-align: center;"></a></td>
            <td><a th:text="${userFreeList.viewCount}"></a></td>
            <td><a th:text="${userFreeList.heartCount}"></a></td>
        </tr>
    </table>
</th:black>
<hr>
<th:block>
    <section class="py-5">
        <h1 style="text-align:center;">좋아요한 비디오 게시판</h1>
        <div class="container px-4 px-lg-5 mt-5">

            <div class="row gx-1 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- 나누는기준점-->

                <div class="col mb-5" th:each="UserHeartVideoList : ${userHeartVideoList} "id="hover2">

                    <a th:href="@{/menu/board/video-view(id=${UserHeartVideoList.VideoBoard.id})}">
                        <div class="card h-70">

                            <!-- Product video-->
                            <video class="card-img-top" th:src="|/menu/board/video/${UserHeartVideoList.VideoBoard.id}|"  alt="..." /></video>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product title-->
                                    <h5 class="fw-bolder" th:text="${UserHeartVideoList.VideoBoard.title}">제목</h5>
                                    <span>좋아요:</span><span th:text="${UserHeartVideoList.VideoBoard.videoHeartCount}"></span>
                                    <span>조회수:</span><span th:text="${UserHeartVideoList.VideoBoard.videoViewCount}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--기준점 끝-->
            </div>
        </div>
    </section>
</th:block>
<hr>
<th:block>
    <section class="py-5">
        <h1 style="text-align:center;">좋아요한 헬스게시판</h1>
        <div class="container px-4 px-lg-5 mt-5">

            <div class="row gx-1 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- 나누는기준점-->

                <div class="col mb-5" th:each="UserHeartGymList : ${userHeartGymList} "id="hover">

                    <a th:href="@{/menu/gym-position/gym-view(id=${UserHeartGymList.GymPosition.id})}">
                        <div class="card h-70">

                            <!-- Product video-->
                            <video class="card-img-top" th:src="|/menu/gym-position/video/${UserHeartGymList.GymPosition.id}|" th:poster="|/menu/gym-position/image/${UserHeartGymList.GymPosition.id}|"  alt="..." /></video>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product title-->
                                    <h5 class="fw-bolder" th:text="${UserHeartGymList.GymPosition.title}">제목</h5>
                                    <span>좋아요:</span><span th:text="${UserHeartGymList.GymPosition.gymHeartCount}"></span>
                                    <span>조회수:</span><span th:text="${UserHeartGymList.GymPosition.gymViewCount}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--기준점 끝-->
            </div>
        </div>
    </section>
</th:block>
<hr>
<th:block>
    <section class="py-5">
        <h1 style="text-align:center;">내가쓴 영상게시판</h1>
        <div class="container px-4 px-lg-5 mt-5">

            <div class="row gx-1 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- 나누는기준점-->

                <div class="col mb-5" th:each="UserVideoList : ${userVideoList} "id="hover3">

                    <a th:href="@{/menu/board/video-view(id=${UserVideoList.id})}">
                        <div class="card h-70">
                            <!-- Product video-->
                            <video class="card-img-top" th:src="|/menu/board/video/${UserVideoList.id}|"  alt="..." /></video>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product title-->
                                    <h5 class="fw-bolder" th:text="${UserVideoList.title}">제목</h5>
                                    <span>좋아요:</span><span th:text="${UserVideoList.videoHeartCount}"></span>
                                    <span>조회수:</span><span th:text="${UserVideoList.videoViewCount}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--기준점 끝-->
            </div>
        </div>
    </section>
</th:block>
</main>
<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->
</body>
</html>