<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('home')"></a><!--네비바 프래그먼트 사용-->
<a th:replace="fragments/common :: carousel"></a><!--케러셀 프래그먼트 사용-->

<Style>
.py-5{
  position: relative;
  top:-50px;
}
.hrStyle{
 position: relative;
  top:-190px;

}
body {

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}
  #main-holder {
  width: 80%;
  height: 85%;
  position: relative;
  left:170px;

  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}
#top-video{
position: relative;
top:20px;
}
#top-video2{
position: relative;
top:40px;
}
#top-video2:hover {
    width:300px;
    overflow: hidden
    transform:scale(1.2,1.1);
    transition: transform.3s;
    }
    #top-video:hover {
    width:300px;
    overflow: hidden
    transform:scale(1.2,1.1);
    transition: transform.3s;
    }
.py-5-2{
  position: relative;
  top:-600px;
}
.textBox{
    position: relative;
    left:100px;
}
.col-sm-7{
    position: relative;
    top:-200px;
}
.col-sm-5{
    position: relative;
    top:-200px;
}
.bodyStyle{
    text-size:30px;
}
</Style>
<main id="main-holder">
    <th:block>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 style="text-align:center; position:relative; top:30px;">Fitness Video Top four</h1>
                <div class="row gx-1 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- 나누는기준점-->

                    <div class="col mb-5"  th:each="GymPosition, i : ${gymHeartList} " id="top-video2">
                    <span th:if="${i.count<5}">
                    <a th:href="@{/menu/gym-position/gym-view(id=${GymPosition.id})}">
                        <div class="card h-70 ">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">TOP<span th:text="${i.count}"></span></div>
                            <!-- Product video-->
                            <video class="card-img-top" th:src="|/menu/gym-position/video/${GymPosition.id}|" th:poster="|/menu/gym-position/image/${GymPosition.id}|"  alt="..." /></video>
                            <!-- Product details-->
                            <div class="card-body p-4 ">
                                <div class="text-center">
                                    <!-- Product title-->
                                    <h5 class="fw-bolder" th:text="${GymPosition.title}">제목</h5>
                                    <span>좋아요:</span><span th:text="${GymPosition.gymHeartCount}"></span>
                                    <span>조회수:</span><span th:text="${GymPosition.gymViewCount}"></span>
                                </div>
                            </div>
                        </div>
                        </th:if>
                    </a>
                    </span>
                    </div>
                    <!--기준점 끝-->
                </div>
            </div>

            <hr style="position:relative; top:-450px;"></hr>
        </section>
    </th:block>
    <th:block>
        <section class="py-5-2">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 style="text-align:center; position:relative; top:30px;">User Video Top four</h1>
                <div class="row gx-1 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- 나누는기준점-->

                    <div class="col mb-5"  th:each="VideoHeartList, i : ${videoHeartList} " id="top-video">
                    <span th:if="${i.count<5}">
                    <a th:href="@{/menu/board/video-view(id=${VideoHeartList.id})}">
                        <div class="card h-70 ">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">TOP<span th:text="${i.count}"></span></div>
                            <!-- Product video-->
                            <video class="card-img-top" th:src="|/menu/board/video/${VideoHeartList.id}|"   alt="..." /></video>
                            <!-- Product details-->
                            <div class="card-body p-4 ">
                                <div class="text-center">
                                    <!-- Product title-->
                                    <h5 class="fw-bolder" th:text="${VideoHeartList.title}">제목</h5>
                                    <span>좋아요:</span><span th:text="${VideoHeartList.videoHeartCount}"></span>
                                    <span>조회수:</span><span th:text="${VideoHeartList.videoViewCount}"></span>
                                </div>
                            </div>
                        </div>
                        </th:if>
                    </a>
                    </span>
                    </div>
                    <!--기준점 끝-->
                </div>
            </div>

            <hr class="hrStyle" style="position:relative; top:20px;">
        </section>
    </th:block>
    <div class="container" style="position:relative; top:-400px; left:130px;">
        <div class="row my-5">
            <div class="col-sm-7">
                <strong class="bodyStyle" style="position:relative; left:370px; font-size:20px;">사람 그림 위에 마우스를 올려보세요 !</strong><br>
                <form name = "myform">
                    <input class="textBox" type = "text" name = "stage" size = "20" style="border:0 solid black;"/>
                </form>
                <img src=img/gymPosition.png usemap=#hmap class="map">
                <map name=hmap>
                    <area shape=rect coords="60,22,128,136"  th:href="@{/menu/gym-position/arm}" onMouseOver = "showTutorial('팔 운동 바로 가기!')"
                          onMouseOut = "showTutorial('')"> <!--팔-->
                    <area shape=rect coords="223,21,296,136" th:href="@{/menu/gym-position/arm}" onMouseOver = "showTutorial('팔 운동 바로 가기!')"
                          onMouseOut = "showTutorial('')"> <!--어깨-->
                    <area shape=rect coords="129,86,222,136" th:href="@{/menu/gym-position/chest}" onMouseOver = "showTutorial('가슴 운동 바로 가기!')"
                          onMouseOut = "showTutorial('')">  <!-- 가슴 -->
                    <area shape=rect coords="129,136,223,224"th:href="@{/menu/gym-position/abs}" onMouseOver = "showTutorial('복근 운동 바로 가기!')"
                          onMouseOut = "showTutorial('')"> <!-- 복근 -->
                    <area shape=rect coords="112,225,241,405"th:href="@{/menu/gym-position/leg}" onMouseOver = "showTutorial('하체 운동 바로 가기!')"
                          onMouseOut = "showTutorial('')"> <!--다리 -->
                </map>
            </div>
            <div class="col-sm-5">
                <br>
                <form name = "myform2">
                    <input class="textBox" type = "text" name = "stage" size = "20" style="border:0 solid black;"/>
                </form>
                <img src=img/gymPosition2.png usemap=#hmap2 class="map">
                <map name=hmap2 style="position:relative; top:20px;">
                    <area shape=rect coords="101,82,246,111ㅍ"  th:href="@{/menu/gym-position/shoulder}" onMouseOver = "showTutorial2('어깨 운동 바로 가기!')"
                          onMouseOut = "showTutorial2('')"> <!--어깨-->
                    <area shape=rect coords="117,112,234,242" th:href="@{/menu/gym-position/back}" onMouseOver = "showTutorial2('등 운동 바로 가기!')"
                          onMouseOut = "showTutorial2('')"> <!--등-->
                </map>
            </div>
        </div>
    </div>
</main>
<script type = "text/javascript">

            function showTutorial(name) {
               document.myform.stage.value = name
            }
            function showTutorial2(name) {
               document.myform2.stage.value = name
            }

      </script>
<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->
</body>
</html>