<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
</head>
<body>
<h2>파일 업로드</h2>

<form action="/upload" method="post" enctype="multipart/form-data">

  <h4>다중 파일 업로드</h4>
  <select name="position">
    <option value="arm">팔</option>
    <option value="back">등</option>
    <option value="chest">가슴</option>
    <option value="leg">다리</option>
    <option value="shoulder">어깨</option>
    <option value="abs">복근</option>
  </select>
  <input type="file" multiple="multiple" name="files">
  <input type="submit"/>
</form>
</body>
</html>