<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('position')"></a><!--네비바 프래그먼트 사용-->




<style>
 .col-9 video{max-width:100%;}
@media (max-width: 800px) {



  .col-3 video {
    width:500px;
    height:500px;

  }
}

</style>

    <div class="row">
        <div class="col-9">
        <video controls  th:src="|/menu/gym-position/video/${gymPosition.id}|" width="1400" height="700"></video>
        <p th:text="${gymPosition.title}"></p>
        <p th:text="${gymPosition.content}"></p>
        <span th:if="${not #strings.isEmpty(currentUser)}">
         <span th:if="${gymHeartCheck==1}">
                <a type="button" th:href="@{/menu/gym-position/gym-heart/{id}(id=${gymPosition.id})}"><img src="../../../img/heart.png" alt=""></a>
         </span>
         <span th:if="${gymHeartCheck==0}">
                <a type="button" th:href="@{/menu/gym-position/gym-heart/{id}(id=${gymPosition.id})}"><img src="../../../img/emptyHeart.png" alt=""></a>
         </span>
                <span>좋아요:</span><span th:text="${#lists.size(gymHeartCount)}"></span>
    <form th:action="@{/menu/gym-position/gym-view}" th:object="${gymComment}" method="get">
            <input type="hidden" th:field="*{id}">
            <input  type="text" id="content" th:field="*{content}" th:errorclass="error-input" class="form-control" >
            <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">제목내용메시지</div>
            <button id="submit" type="submit"class="btn btn-primary"style="float: right;" disabled>댓글</button>
    </form>
</span>
        <span th:unless="${not #strings.isEmpty(currentUser)}">
<a type="button" onclick="location.href='http://localhost:8080/account/login'"><img src="../../../img/emptyHeart.png" alt=""></a>
<span>좋아요:</span><span th:text="${#lists.size(gymHeartCount)}"></span>
<div><input type="text"placeholder="좋아요 댓글은 로그인후 이용가능 합니다." class="form-control" onclick="location.href='http://localhost:8080/account/login'"></div>
</span>

        <script type="text/javascript" src="/js/button.js"></script>
        <table class ="table table-striped" style="text-align: center;"border="1px" >
            <tr th:each="GymComment: ${gymCommentList}"style="background-color: #eeeeee; text-align: center;">
                <td th:text="${GymComment.user.username}"style="background-color: #eeeeee; text-align: left;"></td>
                <td><a th:text="${GymComment.content}" style="background-color: #eeeeee; text-align: center;"></a></td>
                <span th:if="${GymComment.user.username == currentUser}">
       <td><a th:href="@{/menu/gym-position/gymComment-delete?(id=${GymComment.id})}">댓글삭제</a></td>
        </span>
                <span th:if="${GymComment.user.username != currentUser}">
       <td></td>
        </span>
            </tr>
        </table>
    </div>
        <div class="col-3">
                    <video controls  th:src="|/menu/gym-position/video/${gymPosition.id}|" width="230" height="170"></video>
                     <div><span>좋아요:</span><span th:text="${#lists.size(gymHeartCount)}"></span></div>
                <video controls  th:src="|/menu/gym-position/video/${gymPosition.id}|" width="230" height="170"></video>
                <div><span>좋아요:</span><span th:text="${#lists.size(gymHeartCount)}"></span></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>