<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('position')"></a><!--네비바 프래그먼트 사용-->


<form th:action="@{/menu/gym-position/upload}" method="post" enctype="multipart/form-data">

  <h4>파일 업로드</h4>
  <input type="text" th:name="title">
  <select th:name="position">
    <option th:value="arm">팔</option>
    <option th:value="back">등</option>
    <option th:value="chest">가슴</option>
    <option th:value="leg">다리</option>
    <option th:value="shoulder">어깨</option>
    <option th:value="abs">복근</option>
  </select>
  <input type="file" multiple="multiple" th:name="files">
  <textarea th:name="content" class="form-control"maxlength="2048" style="height: 350px;"></textarea>
  <input type="submit"/>
</form>
<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->
</body>
</html>